body {
  font-family: 'Arial', sans-serif;
  background-color: #383737;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(187, 44, 44, 0.1);
  border-radius: 8px;
  padding: 20px;
}

.text-center {
  text-align: center;
}

.mt-5 {
  margin-top: 5rem;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-md-8 {
  flex: 0 0 66.6666667%;
  max-width: 66.6666667%;
}

.mt-4 {
  margin-top: 4rem;
}


form {
  margin-top: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  gap: 8px; 
  border-bottom: 1px solid #ccc; 
  margin-bottom: 10px; 
  padding: 5px; 
}

li button {
  flex: 1;
}
